@font-face {
    font-family: 'Avenir';
    src: url('../assets/AvenirLTStd-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body{
    font-family: 'Avenir', serif;
    font-size: 1.9em;
    color:#000000;
}

a{
    text-decoration: none;
    color:#000000;
    transition: color 0.3s ease-in-out;
}

/*credit to w3schools documentation on hover*/
a:hover {
    color: #ed0677;
}

/*   -classes-   */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.banner{
    padding-top: 3vh;
    width: 75vw;
}

.links{
    padding-top: 3vh;
    font-size: 1.5em;
    line-height: 2em;
}

/*samples page*/

.sample-img{
    width: 35em;
}
.return-button{
    position: fixed;
    font-size: .55em;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
}